go 1.20

use (
	./button
	./calendar_widget
	./check_box
	./close_window
	./close_window_button_event
	./color_dialog
	./combo_box
	./custom_key_press_event
	./custom_signal
	./custom_signal_mouse_move_event
	./empty_window
	./file_dialog
	./file_dialog_by_dir
	./font_dialog
	./gosignal
	./input_dialog
	./layout_absolute_position
	./layout_grid_layout
	./layout_grid_layout_comment
	./layout_hbox_layout
	./layout_vbox_and_hbox_layout
	./layout_vbox_layout
	./line_edit
	./menubar
	./painter_color
	./painter_draw_point
	./painter_pen
	./painter_text1
	./painter_text2
	./painter_text3
	./painter_text4
	./painter_text5
	./password_input_dialog
	./pixmap
	./progress_bar
	./qt_oop_struct
	./screen_center
	./signal_slot
	./simple_drag
	./simple_drag_button
	./slider
	./splitter
	./statusbar
	./tip
	./toggle_button
	./toolbar
	./toolbar_and_statusbar
	./ui_loader
	./widget_sender_receiver
	./widget_sender_receiver2
)
